<!DOCTYPE html>
<html>
	<head>
	<title>Aboutme</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="widthhttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/c.css">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body class="stars">
	<!-- <div class="twinkling"></div> -->

		<div class="container-fluid" style="padding-left: 20%;height: 80%;width: 80%;margin-top: 5%; padding-bottom: 5%">
			<br>
			<br>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive img-rounded" src="static/images/aboutme.jpg" style="border-radius:50%; height:95%; width:75%">
					</div>

					<div class="col-md-6">
						<img id="" src="#" >
					</div>
						
				</div>

				<div class="row" style="padding-right: 10%">
					<span>
					<br>
					<br>
						<img class="img-responsive img-rounded" src="static/images/about.png">
						<h1 style="color: white">My Profile</h1>
					</span>
				</div>

				<div class="row" style="margin-right:5%; padding-right: 10%;color: white">
					<div class="col-md-6" style="padding-left: 10%">
						<h2> Name: <h2>
						<h2> Email: <h2>
						<h2> Birthday: <h2>
						<h2> gender: <h2>
						<h2> moblie: <h2>	
					</div>

					<div class="col-md-6">
						<h2>{{Name}}<h2>
						<h2>{{Email}}<h2>
						<h2>{{Birthday}}<h2>
						<h2>{{gender}}<h2>
						<h2>{{mobile}}<h2>
					</div>
					<div class="clouds"></div>
				</div>
		</div>
	</body>
</html>
